#
# No audio files in the repository.
#
songs/

#
# Some files that one might want to keep around locally.
#
_bk/

#
# This is only useful localy.
#
.sass-cache/
*.css.map

#
# Only .scss files are commited.
#
*.css

#
# Vim tags file.
#
tags


/nbproject/private/

