$bg: #333;
$fg: #f9f9f9;
$max-width-small: 799px;
$min-width-large: 800px;


/**
 * Basic styling and reset.
 */
.cf:after, .cf:before {
  display: block;
  content: '';
  clear: both;
}
body {
    margin: 0;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

#player {
  background-color: $bg;
  color: $fg;
  position: relative;
}
#player {
  .playlist {
    background-color: #444;
  }
}



@mixin mediq-query-small($width) {
  @media screen and (max-width: $max-width-small) {
    @content;
  }
}

@mixin media-query-large($width) {
  @media screen and (min-width: $min-width-large) {
    @content;
  }
}


@media screen and (max-width: $max-width-small) {
  #player {
    .ctrl {
    }
  }
}

@media screen and (min-width: $min-width-large) {
  #player {
    width: 500px;
    .controls-wrapper {
      position: relative;
      height: 36px;
    }
    .play-pause {
      width: 50px;
    }
    .play-pause, .gutter{
      display: inline-block;
      white-space: nowrap;
      height: 36px;
      cursor: pointer;
    }
    .paused {
      background: center/36px no-repeat url(images/play-circle-fill.svg);
    }
    .playing {
      background: center/36px no-repeat url(images/pause-circle-fill.svg);
    }
    .gutter {
      width: 300px;
      position: absolute;
      background-color: #EABAEA;
      left: 50px;

      .handler {
        position: absolute;
        background-color: #9F1100;
        height: 36px;
        width: 10px;
        margin-left: -5px;
      }
    }
    .time-remaining {
      left: 370px;
      position: absolute;
    }
  }

  #playlist li {
      cursor: pointer;
  }
}
