$bg: #333;
$fg: #f9f9f9;
$max-width-small: 959px;
$min-width-large: 960px;

/**
 * Basic styling and reset.
 */
.cf:after, .cf:before {
    display: block;
    content: '';
    clear: both;
}
body {
    margin: 0;
}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/**
 * Styles shared between large and small devices.
 */
#player {
    background-color: $bg;
    color: $fg;
    position: relative;
    .play-pause, .gutter, .volume {
        cursor: pointer;
        display: inline-block;
        height: 36px;
        position: absolute;
    }
    .play-pause {
        left: 0;
        background: center/36px no-repeat url(images/pause-circle-fill.svg);
    }
    .paused {
        background: center/36px no-repeat url(images/play-circle-fill.svg);
    }
    .handler {
        position: absolute;
    }
    .volume {
        right: 0;
        background: center/36px no-repeat url(images/volume-up.svg);
    }
    .controls-wrapper {
        height: 36px;
        .handler {
            height: inherit;
        }
    }
    .gutter {
        background-color: #EABAEA;
    }
    .handler {
        background-color: #9F1100;
    }
    .playlist {
        background-color: #444;
    }
    li {
        cursor: pointer;
    }
}


@mixin mediq-query-small($width) {
    @media screen and (max-width: $max-width-small) {
        @content;
    }
}

@mixin media-query-large($width) {
    @media screen and (min-width: $min-width-large) {
        @content;
    }
}

/**
 * Styles for small devices.
 */
@media screen and (max-width: $max-width-small) {
    #player {
        width: 100%;

        .play-pause { width: 20%; }
        .gutter { width: 60%; left: 20%; }
        .volume { width: 20%; }

        .gutter {
            .handler {
                width: 20px;
                margin-left: -10px;
            }
        }
    }
}

/**
 * Style for medium-sized devices.
 */
@media screen and (min-width: 700px) {
    #player {
        width: 90%;
        margin: 0 auto;
    }
}

/**
 * Styles for large devices.
 */
@media screen and (min-width: $min-width-large) {
    #player {
        width: 800px;
        margin: 0 auto;

        .play-pause { width: 60px; }
        .gutter { width: 800px - 120px; left: 60px; }
        .volume { width: 60px; }

        .gutter {
            .handler {
                width: 10px;
                margin-left: -5px;
            }
        }
    }

}
